.container{
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 650px;
}

.item{
    background-color: lightseagreen;
}

.toska1{
grid-row-start: 1;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 2;
background-color:darkorchid;

}

.toska2{
background-color: darkslateblue;

}

.toska6{
background-color: mediumvioletred;

}

.toska7{
grid-column-start: 3;
grid-column-end: 5;
background-color: azure;

}

.toska9{
background-color:darkblue;

}